:root {
    --dark-background: rgb(63,94,251);
    --dark-background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    --light-background: #EFD3B5;
    --dark-text: #B21368;
    --light-text: #D67BA8;
}

body{
    background: var(--light-background);
    color: var(--light-text);
}

nav{
    background: var(--dark-background);
    color: var(--dark-text);
}
.nav-link{
    color: var(--dark-text);
    background: var(--light-background);
    border-radius: 5%;
    margin: 5px;
    height:80px;
    width: 100px;
}

.nav-link:hover{
    height:90px;
    width: 110px;
    margin: 0;
}

.bi{
    display: block;
    font-size: 40px;
    text-align: center;
    margin: auto;
}

.bi:hover{
    font-size: 50px;
}

h1,h2,h3,h4,h5,h6{
    padding-left: 10px;
}
